
.main-header {
  @extend %margin-auto;

  background: linear-gradient($background-body-default, $concrete-solid);
  padding: 1em 1em;

  @include medium-screen {
    background: $alabaster;
  }
  @include large-screen {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    }
}

.header-wrapper {
  @extend %margin-auto;

  @include medium-screen {
    flex-direction: column;
    margin: auto;
  }
  @include large-screen {
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
}

h1.name {
  font-size: $base__fontsize * 1.8;
  padding: em(15px) em(15px);

  @include large-screen {
    padding-left: 0;
    margin-left: 0px;
  }
}

.slicknav_menu {
  display: block;

  @include medium-screen {
    display: none;
  }
}

.main-nav { // Navigation
  @extend %margin-auto;
  display: none;
  width: 100%;

  li a { // same as footer-nav li a
    @extend %nav-links;
  }

  @include medium-screen {
    display: flex;
    justify-content: center;
  }
  @include large-screen {
    justify-content: flex-end;
    max-width: 30%;
    padding-right: 0;
    margin-right: 0;
  }
}




